<h1>Posts</h1>

<a href="#new">Add Post</a>

<ul>
  <% posts.each(function(post){ %>
  <li>

    <strong><%= post.get("title") %></strong>

    <br>

    <img src="<%= post.get("image_url") %>" width="100">

  </li>
  <% }) %>
</ul>