<h1>Add Post</h1>

<form>

  <label>
    Title
    <input type="text" name="post[title]">
  </label>

  <br>

  <label>
    Image
    <input type="file" name="post[image]" id="post-file-input">
  </label>

  <br>

  <img src="" id="post-image-preview" width="50">

  <br>

  <button>Save</button> or <a href="#">Cancel</a>

</form>